<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<ul th:each="person : ${people}">
    <li>
        <a th:href="@{/people/{id}(id=${person.getId()})}"
           th:text="${person.getName() + ', ' + person.getAge()}"/>
    </li>
</ul>

<br/>
<hr/>

<a href="/people/new">Создать нового человека</a>

</body>
</html>